{# app/Resources/TwigBundle/views/Exception/error.html.twig #}

{% block body %}
  <div class="row" id="errorPanel">
    
    <div class="col-xs-5">
        <img class="img-responsive pull-right" src="{{ asset('images/logo_Louvre.png') }}" alt="Erreur whoops"/>
    </div>
    
    <div class="col-xs-6">
        <h1>Oops...<br><small>Erreur {{status_code}} Veuillez réessayer dans quelques instants</small></h1>
    </div>
    
    <div>
     <a href="{{ path('louvre_billetterie_commande')}}"> Retour à la page d'accueil</a> 
    </div>
</div>
{% endblock %}
