{# src/Louvre/Billetterie/Resources/views/Booking/details.html.twig #} {% extends "::base.html.twig" %} 

{% block body %}
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#"><img src="{{ asset('logo_Louvre.png') }}" class="img-responsive" alt="LogoLouvre"></a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">1 - Commande <span class="glyphicon glyphicon-ok" aria-hidden="true"></span></a></li>  
      <li class="active"><a href="#">2 - Renseignements visiteur(s) <span class="glyphicon glyphicon-ok" aria-hidden="true"></span></a></li>
      <li class="active"><a href="#">3 - Paiement <span class="glyphicon glyphicon-ok" aria-hidden="true"></span></a></li>
      <li class="active"><a href="#">4 - Confirmation</a></li>
    </ul>
  </div>
</nav>

{% endblock %}
