{# src/Louvre/Billetterie/Resources/views/Booking/details.html.twig #}

{% extends "::base.html.twig" %}

{% block title %}
  {{ parent() }} - Renseignements
{% endblock %}

{% block body %}

  <h1>DETAILS DES BILLETS !</h1>



{% endblock %}
