{# src/Louvre/Billetterie/Resources/views/Booking/mentions.html.twig #} 

{% extends "::base.html.twig" %} 


{% block body %}

<div id="tarifs" class="container-fluid col-xs-10 col-xs-offset-1">
<h2>Mentions légales</h2>
    
</div>


{% endblock %}
