{# src/Louvre/Billetterie/Resources/views/Booking/commande.html.twig #}

{% extends "::base.html.twig" %}

{% block stylesheets %}
    
    <script src="https://js.stripe.com/v3/"></script>
    <script src="{{ asset('js/stripe.js') }}"></script>
    {{ parent() }}

{% endblock %}

{% block title %}
  {{ parent() }} - Paiement
{% endblock %}

{% block body %}
    <nav class="navbar navbar-default">
        <nav aria-label="Page navigation">
            <ul class="pager">
                <li class="disabled" ><a href="#">Sélection date, type et nombre de billet <span class="glyphicon glyphicon-ok" aria-hidden="true"></span></a></li>
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <li class="disabled"><a href="#">Renseignements visiteur(s)<span class="glyphicon glyphicon-ok" aria-hidden="true"></span></a></li>
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <li class="active"><a href="#">Paiement</a></li>
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <li class="disabled"><a href="#">Confirmation</a></li>
            </ul>
        </nav><!-- /.container -->
    </nav>

    <form id="stripe">
      <div class="group">
        <label>
          <span>Name</span>
          <input name="cardholder-name" class="field" placeholder="Jane Doe" />
        </label>
        <label>
          <span>Email</span>
          <input class="field" placeholder="abc@mail.com" type="mail" />
        </label>
      </div>
      <div class="group">
        <label>
          <span>Card</span>
          <div id="card-element" class="field"></div>
        </label>
      </div>
      <button type="submit">Pay $25</button>
      <div class="outcome">
        <div class="error" role="alert"></div>
        <div class="success">
          Success! Your Stripe token is <span class="token"></span>
        </div>
      </div>
    </form>





{% endblock %}