body {
   
}

#titrePage{
    color : antiquewhite;
    font-family: serif;
    font-size: 2em;
}

#page-header{
    background-color: rgb(34,34,34);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    margin-bottom: 10px;
}

.well {
    margin-bottom: 70px;
}

.active a{
    color : black;
}

input#commande_commandeDate {
    width : 50%;
}

input#commande_commandeNbBillet {
    width : 30%;
}

input#confirmeCom {
    display : block;
    margin: auto;
}